    /*
    Flaticon icon font: Flaticon
    Creation date: 03/02/2016 12:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-social-icons-rounded-1-49259:before { content: "\f100"; }
.flaticon-social-icons-rounded-10-49268:before { content: "\f101"; }
.flaticon-social-icons-rounded-100-49358:before { content: "\f102"; }
.flaticon-social-icons-rounded-101-49359:before { content: "\f103"; }
.flaticon-social-icons-rounded-102-49360:before { content: "\f104"; }
.flaticon-social-icons-rounded-103-49361:before { content: "\f105"; }
.flaticon-social-icons-rounded-104-49362:before { content: "\f106"; }
.flaticon-social-icons-rounded-105-49363:before { content: "\f107"; }
.flaticon-social-icons-rounded-106-49364:before { content: "\f108"; }
.flaticon-social-icons-rounded-107-49365:before { content: "\f109"; }
.flaticon-social-icons-rounded-108-49366:before { content: "\f10a"; }
.flaticon-social-icons-rounded-109-49367:before { content: "\f10b"; }
.flaticon-social-icons-rounded-11-49269:before { content: "\f10c"; }
.flaticon-social-icons-rounded-110-49368:before { content: "\f10d"; }
.flaticon-social-icons-rounded-111-49369:before { content: "\f10e"; }
.flaticon-social-icons-rounded-112-49370:before { content: "\f10f"; }
.flaticon-social-icons-rounded-113-49371:before { content: "\f110"; }
.flaticon-social-icons-rounded-114-49372:before { content: "\f111"; }
.flaticon-social-icons-rounded-115-49373:before { content: "\f112"; }
.flaticon-social-icons-rounded-116-49374:before { content: "\f113"; }
.flaticon-social-icons-rounded-117-49375:before { content: "\f114"; }
.flaticon-social-icons-rounded-118-49376:before { content: "\f115"; }
.flaticon-social-icons-rounded-119-49377:before { content: "\f116"; }
.flaticon-social-icons-rounded-12-49270:before { content: "\f117"; }
.flaticon-social-icons-rounded-120-49378:before { content: "\f118"; }
.flaticon-social-icons-rounded-121-49379:before { content: "\f119"; }
.flaticon-social-icons-rounded-122-49380:before { content: "\f11a"; }
.flaticon-social-icons-rounded-123-49381:before { content: "\f11b"; }
.flaticon-social-icons-rounded-124-49382:before { content: "\f11c"; }
.flaticon-social-icons-rounded-125-49383:before { content: "\f11d"; }
.flaticon-social-icons-rounded-126-49384:before { content: "\f11e"; }
.flaticon-social-icons-rounded-127-49385:before { content: "\f11f"; }
.flaticon-social-icons-rounded-128-49386:before { content: "\f120"; }
.flaticon-social-icons-rounded-129-49387:before { content: "\f121"; }
.flaticon-social-icons-rounded-13-49271:before { content: "\f122"; }
.flaticon-social-icons-rounded-130-49388:before { content: "\f123"; }
.flaticon-social-icons-rounded-131-49389:before { content: "\f124"; }
.flaticon-social-icons-rounded-132-49390:before { content: "\f125"; }
.flaticon-social-icons-rounded-133-49391:before { content: "\f126"; }
.flaticon-social-icons-rounded-134-49392:before { content: "\f127"; }
.flaticon-social-icons-rounded-135-49393:before { content: "\f128"; }
.flaticon-social-icons-rounded-136-49394:before { content: "\f129"; }
.flaticon-social-icons-rounded-137-49395:before { content: "\f12a"; }
.flaticon-social-icons-rounded-138-49396:before { content: "\f12b"; }
.flaticon-social-icons-rounded-139-49397:before { content: "\f12c"; }
.flaticon-social-icons-rounded-14-49272:before { content: "\f12d"; }
.flaticon-social-icons-rounded-140-49398:before { content: "\f12e"; }
.flaticon-social-icons-rounded-141-49399:before { content: "\f12f"; }
.flaticon-social-icons-rounded-142-49400:before { content: "\f130"; }
.flaticon-social-icons-rounded-143-49401:before { content: "\f131"; }
.flaticon-social-icons-rounded-144-49402:before { content: "\f132"; }
.flaticon-social-icons-rounded-145-49403:before { content: "\f133"; }
.flaticon-social-icons-rounded-146-49404:before { content: "\f134"; }
.flaticon-social-icons-rounded-147-49405:before { content: "\f135"; }
.flaticon-social-icons-rounded-148-49406:before { content: "\f136"; }
.flaticon-social-icons-rounded-149-49407:before { content: "\f137"; }
.flaticon-social-icons-rounded-15-49273:before { content: "\f138"; }
.flaticon-social-icons-rounded-150-49408:before { content: "\f139"; }
.flaticon-social-icons-rounded-151-49409:before { content: "\f13a"; }
.flaticon-social-icons-rounded-152-49410:before { content: "\f13b"; }
.flaticon-social-icons-rounded-153-49411:before { content: "\f13c"; }
.flaticon-social-icons-rounded-154-49412:before { content: "\f13d"; }
.flaticon-social-icons-rounded-155-49413:before { content: "\f13e"; }
.flaticon-social-icons-rounded-156-49415:before { content: "\f13f"; }
.flaticon-social-icons-rounded-157-49416:before { content: "\f140"; }
.flaticon-social-icons-rounded-158-49417:before { content: "\f141"; }
.flaticon-social-icons-rounded-159-49418:before { content: "\f142"; }
.flaticon-social-icons-rounded-16-49274:before { content: "\f143"; }
.flaticon-social-icons-rounded-160-49419:before { content: "\f144"; }
.flaticon-social-icons-rounded-161-49420:before { content: "\f145"; }
.flaticon-social-icons-rounded-162-49421:before { content: "\f146"; }
.flaticon-social-icons-rounded-163-49422:before { content: "\f147"; }
.flaticon-social-icons-rounded-164-49423:before { content: "\f148"; }
.flaticon-social-icons-rounded-165-49424:before { content: "\f149"; }
.flaticon-social-icons-rounded-166-49425:before { content: "\f14a"; }
.flaticon-social-icons-rounded-167-49426:before { content: "\f14b"; }
.flaticon-social-icons-rounded-168-49427:before { content: "\f14c"; }
.flaticon-social-icons-rounded-169-49428:before { content: "\f14d"; }
.flaticon-social-icons-rounded-17-49275:before { content: "\f14e"; }
.flaticon-social-icons-rounded-170-49429:before { content: "\f14f"; }
.flaticon-social-icons-rounded-171-49430:before { content: "\f150"; }
.flaticon-social-icons-rounded-172-49431:before { content: "\f151"; }
.flaticon-social-icons-rounded-173-49432:before { content: "\f152"; }
.flaticon-social-icons-rounded-174-49433:before { content: "\f153"; }
.flaticon-social-icons-rounded-175-49434:before { content: "\f154"; }
.flaticon-social-icons-rounded-176-49435:before { content: "\f155"; }
.flaticon-social-icons-rounded-177-49436:before { content: "\f156"; }
.flaticon-social-icons-rounded-178-49437:before { content: "\f157"; }
.flaticon-social-icons-rounded-179-49438:before { content: "\f158"; }
.flaticon-social-icons-rounded-18-49276:before { content: "\f159"; }
.flaticon-social-icons-rounded-180-49439:before { content: "\f15a"; }
.flaticon-social-icons-rounded-181-49440:before { content: "\f15b"; }
.flaticon-social-icons-rounded-182-49441:before { content: "\f15c"; }
.flaticon-social-icons-rounded-183-49442:before { content: "\f15d"; }
.flaticon-social-icons-rounded-184-49443:before { content: "\f15e"; }
.flaticon-social-icons-rounded-185-49444:before { content: "\f15f"; }
.flaticon-social-icons-rounded-186-49445:before { content: "\f160"; }
.flaticon-social-icons-rounded-187-49446:before { content: "\f161"; }
.flaticon-social-icons-rounded-188-49447:before { content: "\f162"; }
.flaticon-social-icons-rounded-189-49448:before { content: "\f163"; }
.flaticon-social-icons-rounded-19-49277:before { content: "\f164"; }
.flaticon-social-icons-rounded-190-49449:before { content: "\f165"; }
.flaticon-social-icons-rounded-191-49450:before { content: "\f166"; }
.flaticon-social-icons-rounded-192-49451:before { content: "\f167"; }
.flaticon-social-icons-rounded-193-49452:before { content: "\f168"; }
.flaticon-social-icons-rounded-194-49453:before { content: "\f169"; }
.flaticon-social-icons-rounded-195-49454:before { content: "\f16a"; }
.flaticon-social-icons-rounded-196-49455:before { content: "\f16b"; }
.flaticon-social-icons-rounded-197-49456:before { content: "\f16c"; }
.flaticon-social-icons-rounded-198-49457:before { content: "\f16d"; }
.flaticon-social-icons-rounded-199-49458:before { content: "\f16e"; }
.flaticon-social-icons-rounded-2-49260:before { content: "\f16f"; }
.flaticon-social-icons-rounded-20-49278:before { content: "\f170"; }
.flaticon-social-icons-rounded-200-49459:before { content: "\f171"; }
.flaticon-social-icons-rounded-201-49460:before { content: "\f172"; }
.flaticon-social-icons-rounded-202-49461:before { content: "\f173"; }
.flaticon-social-icons-rounded-203-49462:before { content: "\f174"; }
.flaticon-social-icons-rounded-21-49279:before { content: "\f175"; }
.flaticon-social-icons-rounded-22-49280:before { content: "\f176"; }
.flaticon-social-icons-rounded-23-49281:before { content: "\f177"; }
.flaticon-social-icons-rounded-24-49282:before { content: "\f178"; }
.flaticon-social-icons-rounded-25-49283:before { content: "\f179"; }
.flaticon-social-icons-rounded-26-49284:before { content: "\f17a"; }
.flaticon-social-icons-rounded-27-49285:before { content: "\f17b"; }
.flaticon-social-icons-rounded-28-49286:before { content: "\f17c"; }
.flaticon-social-icons-rounded-29-49287:before { content: "\f17d"; }
.flaticon-social-icons-rounded-3-49261:before { content: "\f17e"; }
.flaticon-social-icons-rounded-30-49288:before { content: "\f17f"; }
.flaticon-social-icons-rounded-31-49289:before { content: "\f180"; }
.flaticon-social-icons-rounded-32-49290:before { content: "\f181"; }
.flaticon-social-icons-rounded-33-49291:before { content: "\f182"; }
.flaticon-social-icons-rounded-34-49292:before { content: "\f183"; }
.flaticon-social-icons-rounded-35-49293:before { content: "\f184"; }
.flaticon-social-icons-rounded-36-49294:before { content: "\f185"; }
.flaticon-social-icons-rounded-37-49295:before { content: "\f186"; }
.flaticon-social-icons-rounded-38-49296:before { content: "\f187"; }
.flaticon-social-icons-rounded-39-49297:before { content: "\f188"; }
.flaticon-social-icons-rounded-4-49262:before { content: "\f189"; }
.flaticon-social-icons-rounded-40-49298:before { content: "\f18a"; }
.flaticon-social-icons-rounded-41-49299:before { content: "\f18b"; }
.flaticon-social-icons-rounded-42-49300:before { content: "\f18c"; }
.flaticon-social-icons-rounded-43-49301:before { content: "\f18d"; }
.flaticon-social-icons-rounded-44-49302:before { content: "\f18e"; }
.flaticon-social-icons-rounded-45-49303:before { content: "\f18f"; }
.flaticon-social-icons-rounded-46-49304:before { content: "\f190"; }
.flaticon-social-icons-rounded-47-49305:before { content: "\f191"; }
.flaticon-social-icons-rounded-48-49306:before { content: "\f192"; }
.flaticon-social-icons-rounded-49-49307:before { content: "\f193"; }
.flaticon-social-icons-rounded-49258:before { content: "\f194"; }
.flaticon-social-icons-rounded-5-49263:before { content: "\f195"; }
.flaticon-social-icons-rounded-50-49308:before { content: "\f196"; }
.flaticon-social-icons-rounded-51-49309:before { content: "\f197"; }
.flaticon-social-icons-rounded-52-49310:before { content: "\f198"; }
.flaticon-social-icons-rounded-53-49311:before { content: "\f199"; }
.flaticon-social-icons-rounded-54-49312:before { content: "\f19a"; }
.flaticon-social-icons-rounded-55-49313:before { content: "\f19b"; }
.flaticon-social-icons-rounded-56-49314:before { content: "\f19c"; }
.flaticon-social-icons-rounded-57-49315:before { content: "\f19d"; }
.flaticon-social-icons-rounded-58-49316:before { content: "\f19e"; }
.flaticon-social-icons-rounded-59-49317:before { content: "\f19f"; }
.flaticon-social-icons-rounded-6-49264:before { content: "\f1a0"; }
.flaticon-social-icons-rounded-60-49318:before { content: "\f1a1"; }
.flaticon-social-icons-rounded-61-49319:before { content: "\f1a2"; }
.flaticon-social-icons-rounded-62-49320:before { content: "\f1a3"; }
.flaticon-social-icons-rounded-63-49321:before { content: "\f1a4"; }
.flaticon-social-icons-rounded-64-49322:before { content: "\f1a5"; }
.flaticon-social-icons-rounded-65-49323:before { content: "\f1a6"; }
.flaticon-social-icons-rounded-66-49324:before { content: "\f1a7"; }
.flaticon-social-icons-rounded-67-49325:before { content: "\f1a8"; }
.flaticon-social-icons-rounded-68-49326:before { content: "\f1a9"; }
.flaticon-social-icons-rounded-69-49327:before { content: "\f1aa"; }
.flaticon-social-icons-rounded-7-49265:before { content: "\f1ab"; }
.flaticon-social-icons-rounded-70-49328:before { content: "\f1ac"; }
.flaticon-social-icons-rounded-71-49329:before { content: "\f1ad"; }
.flaticon-social-icons-rounded-72-49330:before { content: "\f1ae"; }
.flaticon-social-icons-rounded-73-49331:before { content: "\f1af"; }
.flaticon-social-icons-rounded-74-49332:before { content: "\f1b0"; }
.flaticon-social-icons-rounded-75-49333:before { content: "\f1b1"; }
.flaticon-social-icons-rounded-76-49334:before { content: "\f1b2"; }
.flaticon-social-icons-rounded-77-49335:before { content: "\f1b3"; }
.flaticon-social-icons-rounded-78-49336:before { content: "\f1b4"; }
.flaticon-social-icons-rounded-79-49337:before { content: "\f1b5"; }
.flaticon-social-icons-rounded-8-49266:before { content: "\f1b6"; }
.flaticon-social-icons-rounded-80-49338:before { content: "\f1b7"; }
.flaticon-social-icons-rounded-81-49339:before { content: "\f1b8"; }
.flaticon-social-icons-rounded-82-49340:before { content: "\f1b9"; }
.flaticon-social-icons-rounded-83-49341:before { content: "\f1ba"; }
.flaticon-social-icons-rounded-84-49342:before { content: "\f1bb"; }
.flaticon-social-icons-rounded-85-49343:before { content: "\f1bc"; }
.flaticon-social-icons-rounded-86-49344:before { content: "\f1bd"; }
.flaticon-social-icons-rounded-87-49345:before { content: "\f1be"; }
.flaticon-social-icons-rounded-88-49346:before { content: "\f1bf"; }
.flaticon-social-icons-rounded-89-49347:before { content: "\f1c0"; }
.flaticon-social-icons-rounded-9-49267:before { content: "\f1c1"; }
.flaticon-social-icons-rounded-90-49348:before { content: "\f1c2"; }
.flaticon-social-icons-rounded-91-49349:before { content: "\f1c3"; }
.flaticon-social-icons-rounded-92-49350:before { content: "\f1c4"; }
.flaticon-social-icons-rounded-93-49351:before { content: "\f1c5"; }
.flaticon-social-icons-rounded-94-49352:before { content: "\f1c6"; }
.flaticon-social-icons-rounded-95-49353:before { content: "\f1c7"; }
.flaticon-social-icons-rounded-96-49354:before { content: "\f1c8"; }
.flaticon-social-icons-rounded-97-49355:before { content: "\f1c9"; }
.flaticon-social-icons-rounded-98-49356:before { content: "\f1ca"; }
.flaticon-social-icons-rounded-99-49357:before { content: "\f1cb"; }
    
    $font-Flaticon-social-icons-rounded-1-49259: "\f100";
    $font-Flaticon-social-icons-rounded-10-49268: "\f101";
    $font-Flaticon-social-icons-rounded-100-49358: "\f102";
    $font-Flaticon-social-icons-rounded-101-49359: "\f103";
    $font-Flaticon-social-icons-rounded-102-49360: "\f104";
    $font-Flaticon-social-icons-rounded-103-49361: "\f105";
    $font-Flaticon-social-icons-rounded-104-49362: "\f106";
    $font-Flaticon-social-icons-rounded-105-49363: "\f107";
    $font-Flaticon-social-icons-rounded-106-49364: "\f108";
    $font-Flaticon-social-icons-rounded-107-49365: "\f109";
    $font-Flaticon-social-icons-rounded-108-49366: "\f10a";
    $font-Flaticon-social-icons-rounded-109-49367: "\f10b";
    $font-Flaticon-social-icons-rounded-11-49269: "\f10c";
    $font-Flaticon-social-icons-rounded-110-49368: "\f10d";
    $font-Flaticon-social-icons-rounded-111-49369: "\f10e";
    $font-Flaticon-social-icons-rounded-112-49370: "\f10f";
    $font-Flaticon-social-icons-rounded-113-49371: "\f110";
    $font-Flaticon-social-icons-rounded-114-49372: "\f111";
    $font-Flaticon-social-icons-rounded-115-49373: "\f112";
    $font-Flaticon-social-icons-rounded-116-49374: "\f113";
    $font-Flaticon-social-icons-rounded-117-49375: "\f114";
    $font-Flaticon-social-icons-rounded-118-49376: "\f115";
    $font-Flaticon-social-icons-rounded-119-49377: "\f116";
    $font-Flaticon-social-icons-rounded-12-49270: "\f117";
    $font-Flaticon-social-icons-rounded-120-49378: "\f118";
    $font-Flaticon-social-icons-rounded-121-49379: "\f119";
    $font-Flaticon-social-icons-rounded-122-49380: "\f11a";
    $font-Flaticon-social-icons-rounded-123-49381: "\f11b";
    $font-Flaticon-social-icons-rounded-124-49382: "\f11c";
    $font-Flaticon-social-icons-rounded-125-49383: "\f11d";
    $font-Flaticon-social-icons-rounded-126-49384: "\f11e";
    $font-Flaticon-social-icons-rounded-127-49385: "\f11f";
    $font-Flaticon-social-icons-rounded-128-49386: "\f120";
    $font-Flaticon-social-icons-rounded-129-49387: "\f121";
    $font-Flaticon-social-icons-rounded-13-49271: "\f122";
    $font-Flaticon-social-icons-rounded-130-49388: "\f123";
    $font-Flaticon-social-icons-rounded-131-49389: "\f124";
    $font-Flaticon-social-icons-rounded-132-49390: "\f125";
    $font-Flaticon-social-icons-rounded-133-49391: "\f126";
    $font-Flaticon-social-icons-rounded-134-49392: "\f127";
    $font-Flaticon-social-icons-rounded-135-49393: "\f128";
    $font-Flaticon-social-icons-rounded-136-49394: "\f129";
    $font-Flaticon-social-icons-rounded-137-49395: "\f12a";
    $font-Flaticon-social-icons-rounded-138-49396: "\f12b";
    $font-Flaticon-social-icons-rounded-139-49397: "\f12c";
    $font-Flaticon-social-icons-rounded-14-49272: "\f12d";
    $font-Flaticon-social-icons-rounded-140-49398: "\f12e";
    $font-Flaticon-social-icons-rounded-141-49399: "\f12f";
    $font-Flaticon-social-icons-rounded-142-49400: "\f130";
    $font-Flaticon-social-icons-rounded-143-49401: "\f131";
    $font-Flaticon-social-icons-rounded-144-49402: "\f132";
    $font-Flaticon-social-icons-rounded-145-49403: "\f133";
    $font-Flaticon-social-icons-rounded-146-49404: "\f134";
    $font-Flaticon-social-icons-rounded-147-49405: "\f135";
    $font-Flaticon-social-icons-rounded-148-49406: "\f136";
    $font-Flaticon-social-icons-rounded-149-49407: "\f137";
    $font-Flaticon-social-icons-rounded-15-49273: "\f138";
    $font-Flaticon-social-icons-rounded-150-49408: "\f139";
    $font-Flaticon-social-icons-rounded-151-49409: "\f13a";
    $font-Flaticon-social-icons-rounded-152-49410: "\f13b";
    $font-Flaticon-social-icons-rounded-153-49411: "\f13c";
    $font-Flaticon-social-icons-rounded-154-49412: "\f13d";
    $font-Flaticon-social-icons-rounded-155-49413: "\f13e";
    $font-Flaticon-social-icons-rounded-156-49415: "\f13f";
    $font-Flaticon-social-icons-rounded-157-49416: "\f140";
    $font-Flaticon-social-icons-rounded-158-49417: "\f141";
    $font-Flaticon-social-icons-rounded-159-49418: "\f142";
    $font-Flaticon-social-icons-rounded-16-49274: "\f143";
    $font-Flaticon-social-icons-rounded-160-49419: "\f144";
    $font-Flaticon-social-icons-rounded-161-49420: "\f145";
    $font-Flaticon-social-icons-rounded-162-49421: "\f146";
    $font-Flaticon-social-icons-rounded-163-49422: "\f147";
    $font-Flaticon-social-icons-rounded-164-49423: "\f148";
    $font-Flaticon-social-icons-rounded-165-49424: "\f149";
    $font-Flaticon-social-icons-rounded-166-49425: "\f14a";
    $font-Flaticon-social-icons-rounded-167-49426: "\f14b";
    $font-Flaticon-social-icons-rounded-168-49427: "\f14c";
    $font-Flaticon-social-icons-rounded-169-49428: "\f14d";
    $font-Flaticon-social-icons-rounded-17-49275: "\f14e";
    $font-Flaticon-social-icons-rounded-170-49429: "\f14f";
    $font-Flaticon-social-icons-rounded-171-49430: "\f150";
    $font-Flaticon-social-icons-rounded-172-49431: "\f151";
    $font-Flaticon-social-icons-rounded-173-49432: "\f152";
    $font-Flaticon-social-icons-rounded-174-49433: "\f153";
    $font-Flaticon-social-icons-rounded-175-49434: "\f154";
    $font-Flaticon-social-icons-rounded-176-49435: "\f155";
    $font-Flaticon-social-icons-rounded-177-49436: "\f156";
    $font-Flaticon-social-icons-rounded-178-49437: "\f157";
    $font-Flaticon-social-icons-rounded-179-49438: "\f158";
    $font-Flaticon-social-icons-rounded-18-49276: "\f159";
    $font-Flaticon-social-icons-rounded-180-49439: "\f15a";
    $font-Flaticon-social-icons-rounded-181-49440: "\f15b";
    $font-Flaticon-social-icons-rounded-182-49441: "\f15c";
    $font-Flaticon-social-icons-rounded-183-49442: "\f15d";
    $font-Flaticon-social-icons-rounded-184-49443: "\f15e";
    $font-Flaticon-social-icons-rounded-185-49444: "\f15f";
    $font-Flaticon-social-icons-rounded-186-49445: "\f160";
    $font-Flaticon-social-icons-rounded-187-49446: "\f161";
    $font-Flaticon-social-icons-rounded-188-49447: "\f162";
    $font-Flaticon-social-icons-rounded-189-49448: "\f163";
    $font-Flaticon-social-icons-rounded-19-49277: "\f164";
    $font-Flaticon-social-icons-rounded-190-49449: "\f165";
    $font-Flaticon-social-icons-rounded-191-49450: "\f166";
    $font-Flaticon-social-icons-rounded-192-49451: "\f167";
    $font-Flaticon-social-icons-rounded-193-49452: "\f168";
    $font-Flaticon-social-icons-rounded-194-49453: "\f169";
    $font-Flaticon-social-icons-rounded-195-49454: "\f16a";
    $font-Flaticon-social-icons-rounded-196-49455: "\f16b";
    $font-Flaticon-social-icons-rounded-197-49456: "\f16c";
    $font-Flaticon-social-icons-rounded-198-49457: "\f16d";
    $font-Flaticon-social-icons-rounded-199-49458: "\f16e";
    $font-Flaticon-social-icons-rounded-2-49260: "\f16f";
    $font-Flaticon-social-icons-rounded-20-49278: "\f170";
    $font-Flaticon-social-icons-rounded-200-49459: "\f171";
    $font-Flaticon-social-icons-rounded-201-49460: "\f172";
    $font-Flaticon-social-icons-rounded-202-49461: "\f173";
    $font-Flaticon-social-icons-rounded-203-49462: "\f174";
    $font-Flaticon-social-icons-rounded-21-49279: "\f175";
    $font-Flaticon-social-icons-rounded-22-49280: "\f176";
    $font-Flaticon-social-icons-rounded-23-49281: "\f177";
    $font-Flaticon-social-icons-rounded-24-49282: "\f178";
    $font-Flaticon-social-icons-rounded-25-49283: "\f179";
    $font-Flaticon-social-icons-rounded-26-49284: "\f17a";
    $font-Flaticon-social-icons-rounded-27-49285: "\f17b";
    $font-Flaticon-social-icons-rounded-28-49286: "\f17c";
    $font-Flaticon-social-icons-rounded-29-49287: "\f17d";
    $font-Flaticon-social-icons-rounded-3-49261: "\f17e";
    $font-Flaticon-social-icons-rounded-30-49288: "\f17f";
    $font-Flaticon-social-icons-rounded-31-49289: "\f180";
    $font-Flaticon-social-icons-rounded-32-49290: "\f181";
    $font-Flaticon-social-icons-rounded-33-49291: "\f182";
    $font-Flaticon-social-icons-rounded-34-49292: "\f183";
    $font-Flaticon-social-icons-rounded-35-49293: "\f184";
    $font-Flaticon-social-icons-rounded-36-49294: "\f185";
    $font-Flaticon-social-icons-rounded-37-49295: "\f186";
    $font-Flaticon-social-icons-rounded-38-49296: "\f187";
    $font-Flaticon-social-icons-rounded-39-49297: "\f188";
    $font-Flaticon-social-icons-rounded-4-49262: "\f189";
    $font-Flaticon-social-icons-rounded-40-49298: "\f18a";
    $font-Flaticon-social-icons-rounded-41-49299: "\f18b";
    $font-Flaticon-social-icons-rounded-42-49300: "\f18c";
    $font-Flaticon-social-icons-rounded-43-49301: "\f18d";
    $font-Flaticon-social-icons-rounded-44-49302: "\f18e";
    $font-Flaticon-social-icons-rounded-45-49303: "\f18f";
    $font-Flaticon-social-icons-rounded-46-49304: "\f190";
    $font-Flaticon-social-icons-rounded-47-49305: "\f191";
    $font-Flaticon-social-icons-rounded-48-49306: "\f192";
    $font-Flaticon-social-icons-rounded-49-49307: "\f193";
    $font-Flaticon-social-icons-rounded-49258: "\f194";
    $font-Flaticon-social-icons-rounded-5-49263: "\f195";
    $font-Flaticon-social-icons-rounded-50-49308: "\f196";
    $font-Flaticon-social-icons-rounded-51-49309: "\f197";
    $font-Flaticon-social-icons-rounded-52-49310: "\f198";
    $font-Flaticon-social-icons-rounded-53-49311: "\f199";
    $font-Flaticon-social-icons-rounded-54-49312: "\f19a";
    $font-Flaticon-social-icons-rounded-55-49313: "\f19b";
    $font-Flaticon-social-icons-rounded-56-49314: "\f19c";
    $font-Flaticon-social-icons-rounded-57-49315: "\f19d";
    $font-Flaticon-social-icons-rounded-58-49316: "\f19e";
    $font-Flaticon-social-icons-rounded-59-49317: "\f19f";
    $font-Flaticon-social-icons-rounded-6-49264: "\f1a0";
    $font-Flaticon-social-icons-rounded-60-49318: "\f1a1";
    $font-Flaticon-social-icons-rounded-61-49319: "\f1a2";
    $font-Flaticon-social-icons-rounded-62-49320: "\f1a3";
    $font-Flaticon-social-icons-rounded-63-49321: "\f1a4";
    $font-Flaticon-social-icons-rounded-64-49322: "\f1a5";
    $font-Flaticon-social-icons-rounded-65-49323: "\f1a6";
    $font-Flaticon-social-icons-rounded-66-49324: "\f1a7";
    $font-Flaticon-social-icons-rounded-67-49325: "\f1a8";
    $font-Flaticon-social-icons-rounded-68-49326: "\f1a9";
    $font-Flaticon-social-icons-rounded-69-49327: "\f1aa";
    $font-Flaticon-social-icons-rounded-7-49265: "\f1ab";
    $font-Flaticon-social-icons-rounded-70-49328: "\f1ac";
    $font-Flaticon-social-icons-rounded-71-49329: "\f1ad";
    $font-Flaticon-social-icons-rounded-72-49330: "\f1ae";
    $font-Flaticon-social-icons-rounded-73-49331: "\f1af";
    $font-Flaticon-social-icons-rounded-74-49332: "\f1b0";
    $font-Flaticon-social-icons-rounded-75-49333: "\f1b1";
    $font-Flaticon-social-icons-rounded-76-49334: "\f1b2";
    $font-Flaticon-social-icons-rounded-77-49335: "\f1b3";
    $font-Flaticon-social-icons-rounded-78-49336: "\f1b4";
    $font-Flaticon-social-icons-rounded-79-49337: "\f1b5";
    $font-Flaticon-social-icons-rounded-8-49266: "\f1b6";
    $font-Flaticon-social-icons-rounded-80-49338: "\f1b7";
    $font-Flaticon-social-icons-rounded-81-49339: "\f1b8";
    $font-Flaticon-social-icons-rounded-82-49340: "\f1b9";
    $font-Flaticon-social-icons-rounded-83-49341: "\f1ba";
    $font-Flaticon-social-icons-rounded-84-49342: "\f1bb";
    $font-Flaticon-social-icons-rounded-85-49343: "\f1bc";
    $font-Flaticon-social-icons-rounded-86-49344: "\f1bd";
    $font-Flaticon-social-icons-rounded-87-49345: "\f1be";
    $font-Flaticon-social-icons-rounded-88-49346: "\f1bf";
    $font-Flaticon-social-icons-rounded-89-49347: "\f1c0";
    $font-Flaticon-social-icons-rounded-9-49267: "\f1c1";
    $font-Flaticon-social-icons-rounded-90-49348: "\f1c2";
    $font-Flaticon-social-icons-rounded-91-49349: "\f1c3";
    $font-Flaticon-social-icons-rounded-92-49350: "\f1c4";
    $font-Flaticon-social-icons-rounded-93-49351: "\f1c5";
    $font-Flaticon-social-icons-rounded-94-49352: "\f1c6";
    $font-Flaticon-social-icons-rounded-95-49353: "\f1c7";
    $font-Flaticon-social-icons-rounded-96-49354: "\f1c8";
    $font-Flaticon-social-icons-rounded-97-49355: "\f1c9";
    $font-Flaticon-social-icons-rounded-98-49356: "\f1ca";
    $font-Flaticon-social-icons-rounded-99-49357: "\f1cb";